dist-newstyle/*
.vscode/*
log/*
out/*
resources/application.cfg
resources/application-test.cfg
resources/tls/cert.pem
resources/tls/secret-key.pem
resources/jwt/encrypted-paper-auth.pem
resources/jwt/paper-auth.pem
resources/jwt/paper-auth.pub
snippets/*
generated/*
protos/build/*
c++/build/*
c++/out/*
grpc/*